@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?-3k3rxs');
    src:url('fonts/icomoon.eot?#iefix-3k3rxs') format('embedded-opentype'),
        url('fonts/icomoon.woff?-3k3rxs') format('woff'),
        url('fonts/icomoon.ttf?-3k3rxs') format('truetype'),
        url('fonts/icomoon.svg?-3k3rxs#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-uni21:before {
    content: "\21";
}

.icon-uni22:before {
    content: "\22";
}

.icon-uni23:before {
    content: "\23";
}

.icon-uni24:before {
    content: "\24";
}

.icon-uni25:before {
    content: "\25";
}

.icon-uni26:before {
    content: "\26";
}

.icon-uni27:before {
    content: "\27";
}

.icon-uni28:before {
    content: "\28";
}

.icon-uni29:before {
    content: "\29";
}

.icon-uni2A:before {
    content: "\2a";
}

.icon-uni2B:before {
    content: "\2b";
}

.icon-uni30:before {
    content: "\30";
}

.icon-uni31:before {
    content: "\31";
}

.icon-uni32:before {
    content: "\32";
}

.icon-uni33:before {
    content: "\33";
}

.icon-uni34:before {
    content: "\34";
}

.icon-uni35:before {
    content: "\35";
}

.icon-uni36:before {
    content: "\36";
}

.icon-uni37:before {
    content: "\37";
}

.icon-uni38:before {
    content: "\38";
}

.icon-uni39:before {
    content: "\39";
}

.icon-uni41:before {
    content: "\41";
}

.icon-uni42:before {
    content: "\42";
}

.icon-uni43:before {
    content: "\43";
}

.icon-uni44:before {
    content: "\44";
}

.icon-uni45:before {
    content: "\45";
}

.icon-uni46:before {
    content: "\46";
}

.icon-uni47:before {
    content: "\47";
}

.icon-uni48:before {
    content: "\48";
}

.icon-uni49:before {
    content: "\49";
}

.icon-uni4A:before {
    content: "\4a";
}

.icon-uni4B:before {
    content: "\4b";
}

.icon-uni4C:before {
    content: "\4c";
}

.icon-uni4D:before {
    content: "\4d";
}

.icon-uni4E:before {
    content: "\4e";
}

.icon-uni4F:before {
    content: "\4f";
}

.icon-uni50:before {
    content: "\50";
}

.icon-uni51:before {
    content: "\51";
}

.icon-uni52:before {
    content: "\52";
}

.icon-uni53:before {
    content: "\53";
}

.icon-uni54:before {
    content: "\54";
}

.icon-uni55:before {
    content: "\55";
}

.icon-uni56:before {
    content: "\56";
}

.icon-uni57:before {
    content: "\57";
}

.icon-uni58:before {
    content: "\58";
}

.icon-uni59:before {
    content: "\59";
}

.icon-uni5A:before {
    content: "\5a";
}

body {
    font-family: 'Arvo', sans-serif;
    font-weight: normal;
}

h1 {
    font-weight: normal;
    text-align: center;
    font-size: 5rem;
}

.yellow {
    color: hsla(51, 65%, 66%, 1);
}

.yellow-grey {
    color: hsla(51, 20%, 66%, 1);
}

/* We are Brits good sir! */
.grey {
    color: gray;
}
