@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?kivxf');
    src:url('fonts/icomoon.eot?#iefixkivxf') format('embedded-opentype'),
        url('fonts/icomoon.woff?kivxf') format('woff'),
        url('fonts/icomoon.ttf?kivxf') format('truetype'),
        url('fonts/icomoon.svg?kivxf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cloudy-day:before {
    content: "\f002";
}

.icon-cloudy-day-rain:before {
    content: "\f008";
}

.icon-clear-day:before {
    content: "\f00d";
}

.icon-overcast:before {
    content: "\f013";
}

.icon-rain:before {
    content: "\f019";
}

.icon-cloudy-night-rain:before {
    content: "\f028";
}

.icon-clear-night:before {
    content: "\f02e";
}

.icon-humidity:before {
    content: "\f04e";
}

.icon-temperature:before {
    content: "\f055";
}

.icon-cloudy-night:before {
    content: "\f086";
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    background-color: hsla(150, 54%, 70%, 1);
    color: white;
}

h1 {
    font-weight: normal;
    text-align: center;
    font-size: 5rem;
}

.yellow {
    color: hsla(51, 100%, 74%, 1);
}

.blue {
    color: hsla(213, 100%, 74%, 1);
}

.yellow-grey {
    color: hsla(51, 27%, 57%, 1);
}

.blue-grey {
    color: hsla(213, 27%, 57%, 1);
}

/* We are Brits good sir! */
.grey {
    color: gray;
}

footer,
footer a,
footer a:hover,
footer a:active,
footer a:visited {
    color: hsla(150, 54%, 50%, 1);
    text-decoration: none;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}
