@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?45kisn');
	src:url('fonts/icomoon.eot?#iefix45kisn') format('embedded-opentype'),
		url('fonts/icomoon.woff?45kisn') format('woff'),
		url('fonts/icomoon.ttf?45kisn') format('truetype'),
		url('fonts/icomoon.svg?45kisn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cloudy:before {
	content: "\f002";
}

.icon-sunny:before {
	content: "\f00d";
}

.icon-overcast:before {
	content: "\f013";
}

.icon-humidity:before {
	content: "\f04e";
}

.icon-temperature:before {
	content: "\f055";
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    background-color: rgb(138, 220, 179);
    color: white;
}

h1 {
    font-weight: normal;
    text-align: center;
    font-size: 5rem;
}

.yellow {
    color: hsla(51, 100%, 74%, 1);
}

.yellow-grey {
    color: hsla(51, 27%, 57%, 1);
}

/* We are Brits good sir! */
.grey {
    color: gray;
}

