{%- macro sun_icon(percent=100, rain=0, day=True) -%}
    {% if percent > 90 %}
        {% if day %}
            <i class="icon-clear-day yellow" title="{{ percent }}%"></i>
        {% else %}
            <i class="icon-clear-night blue" title="{{ percent }}%"></i>
        {% endif %}
    {% elif percent > 50 %}
        {% if day %}
            <i class="icon-cloudy-day{% if rain > 0 %}-rain{% endif %} yellow-grey" title="{{ percent }}%"></i>
        {% else %}
            <i class="icon-cloudy-night{% if rain > 0 %}-rain{% endif %} blue-grey" title="{{ percent }}%"></i>
        {% endif %}
    {% else %}
        {% if rain > 0 %}
            <i class="icon-rain grey" title="{{ percent }}%"></i>
        {% else %}
            <i class="icon-overcast grey" title="{{ percent }}%"></i>
        {% endif %}
    {% endif %}
{%- endmacro -%}
